<div class="main-content">
  <div class="section-content section-content-p30">

    <div class="container-fluid">

      <table class="table table-bordered">
        <tr>
          <th>Product Image</th>
          <th>Name</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Sub Total</th>
        </tr>

        <tr *ngFor="let item of cartItems">
          <td>
            <img src="{{item.imageUrl}}" alt="" class="detail-img" width="150px;">
          </td>
          <td><h3>{{ item.name }}</h3></td>
          <td>{{ item.quantity }}</td>
          <td> {{ item.unitPrice  | currency :'USD' }}</td>
          <td> {{ item.unitPrice * item.quantity | currency :'USD' }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
