<div class="main-content" xmlns="http://www.w3.org/1999/html">

  <div class="section-content section-content-p30">

    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">

            <div class="col-md-2"><label> First Name </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text" maxlength="50">

                <div class="mb-1"></div>
                <div *ngIf="firstName?.invalid && (firstName?.dirty || !firstName!.untouched)" class="alert alert-danger">
                  <div *ngIf="firstName?.hasError('required')">
                    Firstname is required
                  </div>
                  <div *ngIf="firstName?.hasError('minlength')">
                    Firstname must be 2 characters at least
                  </div>

                  <div *ngIf="firstName?.hasError('notOnlyWhiteSpace')">
                    Only whitespace characters not allowed
                  </div>
                </div>

              </div>

            </div>
            <div class="col-md-2"><label> Last Name </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text" maxlength="50">

                <div class="mb-1"></div>
                <div *ngIf="lastName?.invalid && (lastName?.dirty || !lastName?.untouched)" class="alert alert-danger">
                  <div *ngIf="lastName?.hasError('required')">
                    Lastname is required
                  </div>
                  <div *ngIf="lastName?.hasError('minlength')">
                    Lastname must be 2 characters at least
                  </div>

                </div>

              </div>

            </div>
            <div class="col-md-2"><label> Email </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text" maxlength="100">

                <div class="mb-1"></div>
                <div *ngIf="email?.invalid && (email?.dirty || !email?.untouched)"  class="alert alert-danger">
                  <div *ngIf="email?.hasError('required')">
                    Email is required
                  </div>
                  <div *ngIf="email?.hasError('pattern')">
                    Email must be a valid email address format
                  </div>

                </div>

              </div>

            </div>
          </div>

        </div>

        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>

          <div class="row">

            <div class="col-md-2"><label> Country </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" type="text"
                        (change)="countryChanged('shippingAddress')">
                  <option *ngFor="let country of countries" ngValue="{{country.id}}">
                    {{ country.name }}
                  </option>
                </select>

                <div class="mb-1"></div>
                <div *ngIf="shippingAddressCountry?.invalid && (shippingAddressCountry?.dirty || !shippingAddressCountry?.untouched)" class="alert alert-danger">
                  <div *ngIf="shippingAddressCountry?.hasError('required')">
                    Country is required
                  </div>

                </div>

              </div>

            </div>

            <div class="col-md-2"><label> City </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" type="text" (change)="cityChanged('shippingAddress')">
                  <option *ngFor="let city of shippingAddressCities" ngValue="{{city.id}}">
                    {{ city.name }}
                </select>

                <div class="mb-1"></div>
                <div *ngIf="shippingAddressCity?.invalid && (shippingAddressCity?.dirty || !shippingAddressCity?.untouched)" class="alert alert-danger">
                  <div *ngIf="shippingAddressCity?.hasError('required')">
                    City is required
                  </div>

                </div>

              </div>

            </div>
            <div class="col-md-2"><label> District </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="district" type="text">
                  <option *ngFor="let district of shippingAddressDistricts" ngValue="{{district.id}}">
                    {{ district.name }}
                </select>

                <div class="mb-1"></div>
                <div *ngIf="shippingAddressDistrict?.invalid && (shippingAddressDistrict?.dirty || !shippingAddressDistrict?.untouched)" class="alert alert-danger">
                  <div *ngIf="shippingAddressDistrict?.hasError('required')">
                    District is required
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Street </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div class="mb-1"></div>
                <div *ngIf="shippingAddressStreet?.invalid && (shippingAddressStreet?.dirty || !shippingAddressStreet?.untouched)" class="alert alert-danger">
                  <div *ngIf="shippingAddressStreet?.hasError('required')">
                    Firstname is required
                  </div>
                  <div *ngIf="shippingAddressStreet?.hasError('maxlength')">
                    Street must be 200 characters max
                  </div>

                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Zip Code </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" maxlength="20">

                <div class="mb-1"></div>
                <div *ngIf="shippingAddressZipCode?.invalid && (shippingAddressZipCode?.dirty || !shippingAddressZipCode?.untouched)" class="alert alert-danger">
                  <div *ngIf="shippingAddressZipCode?.hasError('maxlength')">
                    Zipcode must be 20 characters max
                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>


        <div class="input-space">
          <input type="checkbox" (change)="changeBillingAddress($event)">
          <label style="font-weight: bold">Billing Address is the same as Shipping Address</label>
        </div>

        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"><label> Country </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" type="text"
                        (change)="countryChanged('billingAddress')">
                  <option *ngFor="let country of countries" ngValue="{{country.id}}">
                    {{ country.name }}
                  </option>
                </select>

                <div class="mb-1"></div>
                <div *ngIf="billingAddressCountry?.invalid && (billingAddressCountry?.dirty || !billingAddressCountry?.untouched)" class="alert alert-danger">
                  <div *ngIf="billingAddressCountry?.hasError('required')">
                    Country is required
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> City </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="city" type="text" (change)="cityChanged('billingAddress')">
                  <option *ngFor="let city of billingAddressCities" ngValue="{{city.id}}">
                    {{ city.name }}
                </select>

                <div class="mb-1"></div>
                <div *ngIf="billingAddressCity?.invalid && (billingAddressCity?.dirty || !billingAddressCity?.untouched)" class="alert alert-danger">
                  <div *ngIf="billingAddressCity?.hasError('required')">
                    City is required
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> State </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="district" type="text">
                  <option *ngFor="let district of billingAddressDistricts" ngValue="{{district.id}}">
                    {{ district.name }}
                </select>

                <div class="mb-1"></div>
                <div *ngIf="billingAddressDistrict?.invalid && (billingAddressDistrict?.dirty || !billingAddressDistrict?.untouched)" class="alert alert-danger">
                  <div *ngIf="billingAddressDistrict?.hasError('required')">
                    District is required
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Street </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text" maxlength="100">

                <div class="mb-1"></div>
                <div *ngIf="billingAddressStreet?.invalid && (billingAddressStreet?.dirty || !billingAddressStreet?.untouched)" class="alert alert-danger">
                  <div *ngIf="billingAddressStreet?.hasError('maxlength')">
                    Street must be 200 characters max
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Zip Code </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text" maxlength="20">

                <div class="mb-1"></div>
                <div *ngIf="billingAddressZipCode?.invalid && (billingAddressZipCode?.dirty || !billingAddressZipCode?.untouched)" class="alert alert-danger">
                  <div *ngIf="billingAddressZipCode?.hasError('maxlength')">
                    Zipcode must be 200 characters max
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card Info </h3>

          <div class="row">
            <div class="col-md-2"><label> Card Type </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option selected="true">Troy</option>
                  <option>Visa</option>
                  <option>MasterCad</option>
                </select>

                <div class="mb-1"></div>
                <div *ngIf="creditCardType?.invalid && (creditCardType?.dirty || !creditCardType?.untouched)" class="alert alert-danger">
                  <div *ngIf="creditCardType?.hasError('required')">
                    Card type is required
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Name on Card </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" maxlength="100">

                <div class="mb-1"></div>
                <div *ngIf="creditCardNameOnCard?.invalid && (creditCardNameOnCard?.dirty || !creditCardNameOnCard?.untouched)" class="alert alert-danger">
                  <div *ngIf="creditCardNameOnCard?.hasError('required')">
                    Credit card holder name is required
                  </div>

                  <div *ngIf="creditCardNameOnCard?.hasError('minlength')">
                    Credit card holder name must be 4 characters at least
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Card Number </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" maxlength="16" >

                <div class="mb-1"></div>
                <div *ngIf="creditCardNumber?.invalid && (creditCardNumber?.dirty || !creditCardNumber?.untouched)" class="alert alert-danger">
                  <div *ngIf="creditCardNumber?.hasError('required')">
                    Credit card number is required
                  </div>

                  <div *ngIf="creditCardNumber?.hasError('minlength')">
                    Credit card number must be 16 characters at least
                  </div>
                  <div *ngIf="creditCardNumber?.hasError('pattern')">
                    Credit card number must be 16 digits
                  </div>
                </div>


              </div>
            </div>

            <div class="col-md-2"><label> Security Code </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text" maxlength="3">

                <div class="mb-1"></div>
                <div *ngIf="creditCardSecurityCode?.invalid && (creditCardSecurityCode?.dirty || !creditCardSecurityCode?.untouched)" class="alert alert-danger">
                  <div *ngIf="creditCardSecurityCode?.hasError('required')">
                    Credit card security code is required
                  </div>

                  <div *ngIf="creditCardSecurityCode?.hasError('minlength')">
                    Credit card security code must be 3 characters at least
                  </div>

                  <div *ngIf="creditCardSecurityCode?.hasError('pattern')">
                    Credit card security code  must be 3 digits
                  </div>
                </div>

              </div>
            </div>

            <div class="col-md-2"><label> Expiration Year </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="yearChanged()">
                  <option *ngFor="let year of years">
                    {{ year }}
                  </option>
                </select>
                <div class="mb-1"></div>
                <div *ngIf="creditCardExpirationYear?.invalid && (creditCardExpirationYear?.dirty || !creditCardExpirationYear?.untouched)" class="alert alert-danger">
                  <div *ngIf="creditCardSecurityCode?.hasError('required')">
                    Credit card expiration year  is required
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-2"><label> Expiration Month </label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of months">
                    {{ month }}
                  </option>
                </select>
                <div class="mb-1"></div>
                <div *ngIf="creditCardExpirationMonth?.invalid && (creditCardExpirationMonth?.dirty || !creditCardExpirationMonth?.untouched)" class="alert alert-danger">
                  <div *ngIf="creditCardExpirationMonth?.hasError('required')">
                    Credit card expiration month is required
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="form-area">
          <h3>Review Your Order</h3>
          <div class="row">
            <p> Total Quantity :   {{ totalQuantity }} </p>
            <p> Shipping Charge : FREE </p>
            <p> Total Price :    {{ totalPrice  | currency : 'USD' }} </p>
          </div>

        </div>

        <div class="m-lg-2">
          <button type="submit" class="btn btn-info"><span class="m-lg-2"> Purchase</span></button>
        </div>
      </form>

    </div>
  </div>
</div>


